{% extends "base.html" %}
{% load static allauth i18n %}
{% block title %}Endereços de e-mail — Transbordo{% endblock %}
{% block content %}
<div class="max-w-md mx-auto mt-10 space-y-4">
    {% element h1 %}
        Endereços de e-mail
    {% endelement %}
    {% if emailaddresses %}
        {% element p %}
            Os endereços de e-mail associados à sua conta:
        {% endelement %}
        {% url 'account_email' as email_url %}
        {% element form form=form action=email_url method="post" tags="email,list" %}
            {% slot body %}
                {% csrf_token %}
                {% for radio in emailaddress_radios %}
                    {% with emailaddress=radio.emailaddress %}
                        {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                            {% slot label %}
                                {{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                    {% element badge tags="success,email,verified" %}Verificado{% endelement %}
                                {% else %}
                                    {% element badge tags="warning,email,unverified" %}Não verificado{% endelement %}
                                {% endif %}
                                {% if emailaddress.primary %}
                                    {% element badge tags="email,primary" %}Principal{% endelement %}
                                {% endif %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" name="action_primary" %}Tornar principal{% endelement %}
                {% element button tags="secondary" type="submit" name="action_send" %}Reenviar verificação{% endelement %}
                {% element button tags="danger,delete" type="submit" name="action_remove" %}Remover{% endelement %}
            {% endslot %}
        {% endelement %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    {% if can_add_email %}
        {% element h2 %}
            Adicionar e-mail
        {% endelement %}
        {% url 'account_email' as action_url %}
        {% element form form=form method="post" action=action_url tags="email,add" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button name="action_add" type="submit" %}Adicionar e-mail{% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
</div>
{% endblock content %}
{% block extra_scripts %}
    <script src="{% static 'account/js/account.js' %}"></script>
    <script src="{% static 'account/js/onload.js' %}"></script>
    <script data-allauth-onload="allauth.account.forms.manageEmailForm" type="application/json">{
    "i18n": {"confirmDelete": "Deseja mesmo remover o endereço de e-mail selecionado?"}
}
    </script>
{% endblock extra_scripts %}
