{% include "simulacao/_subnav.html" %}

<form hx-post="{% url 'simulacao:fabricas_grid' cenario_id=cenario.id %}" hx-target="#cenario-content" id="form-fabricas">
    {% csrf_token %}
    <div id="tabulator-fabricas"></div>
    <button type="submit" class="btn btn-primary mt-4">
        Salvar Alterações Fábricas
    </button>
</form>

{{ columns|json_script:"colunas-fabricas" }}
{{ rows|json_script:"linhas-fabricas" }}
<script>
    initGridEditor("tabulator-fabricas", "colunas-fabricas", "linhas-fabricas", "form-fabricas");
</script>
