{% include "simulacao/_subnav.html" %}

<form hx-post="{% url 'simulacao:rotas_grid' cenario_id=cenario.id %}" hx-target="#cenario-content" id="form-rotas">
    {% csrf_token %}
    <div id="tabulator-rotas"></div>
    <button type="submit" class="btn btn-primary mt-4">
        Salvar Alterações Rotas
    </button>
</form>

{{ columns|json_script:"colunas-rotas" }}
{{ rows|json_script:"linhas-rotas" }}
<script>
    initGridEditor("tabulator-rotas", "colunas-rotas", "linhas-rotas", "form-rotas");
</script>
